$black: #000000;
$white: #eee9e0;
$text-white: #f8f6f4;
$white: #cecac3;
$grey: #d4d4d4;
$main: #7e6a4c;
$main: #978262;
$secondary: #a36a00;
$background: #0f0f0f;
$background: #1b1b1b;
$shadow: #000000;
